# UI & Software Window
PyGObject
nicegui
pywebview

# Agents & Logic
langgraph
langchain-ollama
chromadb
pydantic-settings
langfuse

# Testing
pytest
pytest-bdd
pytest-asyncio 
nest-asyncio
pytest-dotenv

# Data Analysis
numpy
pandas
scipy