# UI & Software Window
PyGObject==3.44.1
nicegui
pywebview

# Agents & Logic
langgraph
langchain
langchain-community
langchain-ollama
python-arango
pydantic-settings

# ETL & NLP
pypdfium2
fastembed

# Monitoring & Tracing
arize-phoenix
opentelemetry-sdk
opentelemetry-exporter-otlp
openinference-instrumentation-langchain

# Data Analysis
numpy
pandas
scipy